<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/list.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/base.css') }}">   
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% block body %}
            <div class="base-navbar">
                <h1 class="base-header">
                    <span class="neon"> UNIQUE CARS </span>
                    FOR SPECIAL MOMENTS
                </h1>   
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
