/*
>>> Colors <<<
dark: #1B1B1E;
medium: #035E7B;
light: #035E7B;
accent: #D81826;
neon: #5DFDCB;

*/


.endscreen-image {
	z-index: -1;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-image: url('../images/final.jpg');
	background-size: cover;
	background-position: 100% 100%;
	position: absolute;
}

.endscreen-cover {
	top: 0px;
	bottom: 0px;
	background: -webkit-gradient(left top, left bottom, color-stop rgba(0,0,0,0) 15%), color-stop(rgba(36,22,35,1) 100%));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%,rgba(36,22,35,0.8) 80%, rgba(36,22,35,1) 95%);
	background: -webkit-linear-gradient(top bottom, rgba(0,0,0,0) 15%, rgba(36,22,35,1) 100%));
	background: linear-gradient(top bottom, rgba(0,0,0,0) 15%, rgba(36,22,35,1) 100%));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035E7B', endColorstr='#1B1B1E', GradientType=0 );
}

.endscreen {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
}

.endscreen-note {
    position: absolute;
    left: 0px;
    bottom: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0px;
}

.endscreen-note-header {
	text-align: center;
    color: #FFFD98;
    font-size: 30px;
    letter-spacing: 1px;
    min-width: 300px;
    margin-bottom: 30px;
    position: relative;
    top: 15px;
}

.endscreen-redirect {

}

.endscreen-button {
	width: 380px;
	height: 100px;
	background-color: transparent;
	border: 5px solid #FFFD98;
	cursor: pointer;
	margin-top:30px;
}

.endscreen-button:focus{
	outline: none !important;
}

.endscreen-button:hover {

}

.endscreen-button-title {
	color: #FFFD98;
	font-size: 30px;
	font-weight: 700;
}