/*
>>> Colors <<<
dark: #241623;
medium: #3C787E;
light: #F1F1F1;
accent: #B3001B;  rgba(226,109,90,1)
neon: #C7EF00;

*/

.rent-wrapper {
	background-color: transparent;
	position: absolute;
	top: 60px;
	height: 80%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	float: right;  
	left: 0px;
	flex-wrap: wrap;
}

.rent-car-data, .rent-form, .rent-form-summary {
	margin: 50px;
}

.rent-form-summary, .rent-form{
	justify-content: space-between;
	width: 400px;
}

.rent-car-data, .rent-form-summary, .rent-form{
	display: flex;
	flex-direction: column;
	border: 1px solid #C7EF00;
    position: relative;
    padding: 30px;
    padding-top: 0px;
    left: 80px;
    height: 350px;
}

.rent-car-data{
	width: 300px;
	justify-content: flex-start;
}
.rent-form-header, .rent-form-button {
	color: #3C787E;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
}

.rent-form-header {
	background-color: #C7EF00;
    height: 50px;
	line-height: 50px;
    width: 430px;
    position: relative;
    left: -30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.rent-car-data > .rent-form-header {
	width: 330px;
}
.rent-car-label, .rent-form-label {
	width: 120px;
	color: #3C787E;
	font-size: 12px;
	padding-bottom: 10px;
}

.rent-car-value{
	width: 100%;
	text-align: center;
}

.rent-form-value {
	color: #3C787E;
	font-weight:  700;
}

.rent-form-value.total-amount {
	font-size: 18px;
		color: #B3001B;
}

.rent-form-property {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rent-car-property {
	height: 100px;
}

.rent-car-property.car-name > span {
	text-align: right;
}


.rent-form-summary{
	border: 1px solid #C7EF00;
	padding: 30px;
	padding-top: 0px;
}

.rent-form-input {
	width: 250px;
	height: 25px;
	border: 1px solid #C7EF00;
	border-left: 5px solid #C7EF00;
	color: #241623;
}

.rent-form-button {
	width: 200px;
	height: 50px;
	background-color: #C7EF00;
	border: none;
	margin-top: 30px;
	position: relative;
	left: 110px;
	line-height: 50px;
    text-align: center;
}

.rent-form-payment {
	text-decoration: none;
}