/*
>>> Colors <<<
dark: #1B1B1E;
medium: #035E7B;
light: #035E7B;
accent: #D81826;  rgba(226,109,90,1)
neon: #5DFDCB;

*/

.rent-wrapper {
	background-color: transparent;
	position: absolute;
	top: 60px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 20px;
	float: right;  
	left: 0px;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	right: 450px;
}

.rent-form, .rent-form-summary {
	margin-bottom: 50px !important;
}

.rent-car-data, .rent-form, .rent-form-summary {
	margin: 30px;
}

.rent-form-summary, .rent-form{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 400px;
}

.rent-car-data, .rent-form-summary, .rent-form{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border: 1px solid #5DFDCB;
    position: relative;
    padding: 30px;
    padding-top: 0px;
    left: 80px;
    height: 350px;
}

.rent-car-data{
	width: 300px;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.rent-form-header, .rent-form-button {
	color: #035E7B;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
}

.rent-form-header {
	background-color: #5DFDCB;
    height: 50px;
	line-height: 50px;
    width: 430px;
    position: relative;
    left: -30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.rent-car-data > .rent-form-header {
	width: 330px;
}
.rent-car-label, .rent-form-label {
	width: 120px;
	color: #035E7B;
	font-size: 12px;
	padding-bottom: 10px;
}

.rent-car-value{
	width: 100%;
	text-align: center;
}

.rent-form-value {
	color: #035E7B;
	font-weight:  700;
}

.rent-form-value.total-amount {
	font-size: 18px;
		color: #D81826;
}

.rent-form-property {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.rent-car-property {
	height: 100px;
}

.rent-car-property.car-name > span {
	text-align: right;
}


.rent-form-summary{
	border: 1px solid #5DFDCB;
	padding: 30px;
	padding-top: 0px;
}

.rent-form-input {
    background-color: transparent;
    width: 280px;
    height: 35px;
    border: 1px solid #5DFDCB;
    border-left: 5px solid #5DFDCB;
    color: #035E7B;
    font-size: 18px;
    padding-left: 10px;
}

.rent-form-input:focus{
	outline-color: #1B1B1E;
}

.rent-form-button {
	width: 200px;
	height: 50px;
	background-color: #5DFDCB;
	border: none;
	margin-top: 30px;
	position: relative;
	left: 110px;
	line-height: 50px;
    text-align: center;
}

.rent-form-button:focus{
	outline: none !important;
}

.rent-form-payment {
	text-decoration: none;
}