/*
>>> Colors <<<
dark: #1B1B1E;
medium: #035E7B;
light: #035E7B;
accent: #D81826;  rgba(226,109,90,1)
neon: #5DFDCB;
item-hover: #E9F1C1;

*/

.list-wrapper {
	background-color: transparent;
	position: absolute;
	top: 40px;
	height: 80%;
	display: inline-block;
	padding: 20px;
	padding-top: 0px;
	float: right;
	right: 150px;
	left: 0px;
}

.list-header {
	color: #1B1B1E;
	padding: 10px 30px 10px 70px;
	font-size: 22px;
}

.footer {
	border-top: 1px solid #5DFDCB;
	background-color: #1B1B1E;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 40px;
	line-height: 40px;
}

.footer-info {
	font-size: 14px;
    color: #5DFDCB;
    position: fixed;
    right: 0px;
    left: 0px;
    text-align: center;
}

.list-container{
	position: absolute;
    left: 5%;
    top: 60px;
    right: 20%;
    bottom: 0px;
}

.list-form {
	overflow-x: hidden;
    width: 100%;
    position: relative;
    left: 30px;
}

.list-form-wrapper{
	margin-bottom: 100px;
	overflow: hidden;
	position: relative;
	left: -30px;
}
.list-title-bar {
	display: flex;
	flex-direction: row;
	color: #035E7B;
	justify-content: space-between;
	padding: 15px;
}

.list-title {
	font-size: 12px;
	flex-grow: 1;
	margin-right: 100px;
	text-align: right;
}

.list-title-first {
	font-size: 12px;
	margin-left: 40px;
	align-self: flex-start;
}

.list-title-last{
	font-size: 12px;
	align-self: flex-end;
	margin-right: 80px;
}

.list {
	height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.list-item {
	display: flex;
	flex-direction: row;
	color: #1B1B1E;
	justify-content: flex-start;
	padding: 20px;
	padding-right: 80px;
	align-items: center;
	margin-right: 0px !important;
	height: 50px;
/*	background: rgba(199,239,0,0.4)*/
}

.list-item:hover {
	background-color: #E9F1C1;
	cursor: pointer;
}

.list-item-animate {
	transition: 0.2s ease-out;
	position: relative;
	left: -110px;
	height: 90px;
	flex-grow: 1;
	display: inline-flex;
	line-height: 90px;
}

.list-item-checkbox:checked + .list-item > div.list-item-animate {
	transform: translateX(90px);
}

.list-item-checkbox:checked + .list-item {
	border: 1px solid #5DFDCB;
}

.list-item-checkbox:checked + .list-item:hover {
	background-color: transparent;
}

.list-item-checkbox:checked + .list-item > div.list-item-animate > a.list-item-link {
	visibility: visible;
	cursor: pointer;
}

.list-item-checkbox:checked + .list-item > div.list-item-animate >  a.list-item-link > div.list-item-button {
	visibility: visible;
	cursor: pointer;
}

.list-item > .car-price {
	width: 100px;
	text-align: right;
}

.car-price {
	color: #035E7B;
	font-size: 24px;
	font-weight: 700;
}

.list-item-animate > .car-name {
    line-height: 90px;
	margin-left: 50px;
}

.car-name {
	font-size: 22px;
	color: #D81826;
	overflow: hidden;
}

.list-item > .car-segment {
	margin-right: 100px;
}

.car-segment {
	color: #035E7B;
}

.list-item-link {
	text-decoration: none;
}

.list-item-button {
	color: #1B1B1E;
    width: 100px;
    border: none;
    background-color: #5DFDCB;
    visibility: hidden;
    text-align: center;;
}

.list-item-link, .list-item-button {
	position: relative;
    left: 0px;
    top: -1px;
    height: 92px;
}

.list-item-button > span {
	color: #035E7B;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
    line-height: 90px;
}

.list-item > a {
	visibility: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/ 
    -webkit-border-radius: 0px;
    background-color:#1B1B1E;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background:#5DFDCB; 
}


form:not(#foo) > div.list-form-wrapper > input[type='radio']{

    /* Hide the input, but have it still be clickable */
    opacity: 0;

    float: left;
    width: 18px;
}