{% extends 'base.html.twig' %}

{% block body %}
	<div class="entry-background centered">
		<div class="entry-image centered">

		</div>
	</div>
	<div class="entry-gradient centered">
	</div>	
	<div class="entry-bar">
		<h1 class="entry-header">
			UNIQUE CARS FOR SPECIAL MOMENTS
		</h1>		
		<a  href="{{ url('list') }}">
			<button class="entry-button">
				<span class="entry-button-title"> RENT A CAR </span>
			</button>
		</a>
	</div>	
{% endblock %}

{% block stylesheets %}

{% endblock %}
