{% extends 'base.html.twig' %}

{% block body %}
	<div class="entry-background centered">
		<div class="entry-image centered">

		</div>
	<div class="entry-bar">
		<h1 class="entry-header">
			<span class="neon"> UNIQUE CARS </span>
			FOR SPECIAL MOMENTS
		</h1>		
		<a  href="{{ url('list') }}">
			<button class="entry-button">
				<span class="entry-button-title"> RENT A CAR </span>
				<div class="entry-button-background">
				</div>				
			</button>
		</a>
	</div>	
{% endblock %}

