{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {{ parent() }}      
        <div id="container">
            Heeeej
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
