{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}

	<div class="entry-bar">	
		<div class="list-title-first">Transakcja przebiegla pomyslnie. Dziekujemy.</div>
	</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
